In [14]:
import pandas as pd

In [15]:
s = pd.Series([1,2,3],
             index=['A', 'B', 'C'],
             name='col1')

In [114]:
data = [[1,4], [2,5], [3,6]]
index = ['A', 'B', 'C']
df1 = pd.DataFrame(data, index=index, columns=['col1', 'col2'])

In [78]:
df = pd.read_csv("/Users/briankimanzi/Downloads/lung_disease_data.csv", encoding='utf-8')
df

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
0,71.0,Female,No,4.49,COPD,Therapy,14.0,Yes
1,34.0,Female,Yes,NaN,Bronchitis,Surgery,7.0,No
2,80.0,Male,Yes,1.95,COPD,NaN,4.0,Yes
3,40.0,Female,Yes,NaN,Bronchitis,Medication,1.0,No
4,43.0,Male,Yes,4.60,COPD,Surgery,NaN,Yes
...,...,...,...,...,...,...,...,...
5195,40.0,Male,No,1.43,Lung Cancer,Medication,1.0,Yes
5196,21.0,NaN,Yes,1.50,COPD,Medication,4.0,No
5197,42.0,Female,No,5.53,Pneumonia,Surgery,5.0,No
5198,82.0,Male,No,3.68,Bronchitis,Medication,9.0,No
5199,45.0,Female,Yes,3.79,Pneumonia,Medication,10.0,Yes

In [19]:
pd.reset_option('display.Max_rows', None)

In [23]:
df[['Gender', 'Smoking Status', 'Lung Capacity']]

      Gender Smoking Status  Lung Capacity
0     Female             No           4.49
1     Female            Yes            NaN
2       Male            Yes           1.95
3     Female            Yes            NaN
4       Male            Yes           4.60
...      ...            ...            ...
5195    Male             No           1.43
5196     NaN            Yes           1.50
5197  Female             No           5.53
5198    Male             No           3.68
5199  Female            Yes           3.79

[5200 rows x 3 columns]

In [144]:
df.iloc[:,[2, 3, 4]] # [index:column]

     Smoking Status  Lung Capacity Disease Type
0                No           4.49         COPD
1               Yes            NaN   Bronchitis
2               Yes           1.95         COPD
3               Yes            NaN   Bronchitis
4               Yes           4.60         COPD
...             ...            ...          ...
5195             No           1.43  Lung Cancer
5196            Yes           1.50         COPD
5197             No           5.53    Pneumonia
5198             No           3.68   Bronchitis
5199            Yes           3.79    Pneumonia

[5200 rows x 3 columns]

In [32]:
df.head(20)

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
0,71.0,Female,No,4.49,COPD,Therapy,14.0,Yes
1,34.0,Female,Yes,NaN,Bronchitis,Surgery,7.0,No
2,80.0,Male,Yes,1.95,COPD,NaN,4.0,Yes
3,40.0,Female,Yes,NaN,Bronchitis,Medication,1.0,No
4,43.0,Male,Yes,4.60,COPD,Surgery,NaN,Yes
5,22.0,Female,No,3.65,Bronchitis,Medication,11.0,Yes
6,41.0,Male,Yes,2.98,Asthma,Medication,12.0,Yes
7,72.0,Male,NaN,2.61,Lung Cancer,Surgery,11.0,Yes
8,21.0,Female,No,4.05,Lung Cancer,Medication,12.0,No
9,49.0,Male,Yes,5.70,Pneumonia,Medication,11.0,Yes
10,57.0,Female,Yes,4.36,Bronchitis,Therapy,11.0,Yes
11,21.0,Male,No,1.37,Pneumonia,Surgery,1.0,Yes
12,83.0,Male,No,3.30,Pneumonia,Therapy,8.0,Yes
13,79.0,Male,Yes,5.45,Bronchitis,Medication,12.0,No
14,40.0,Female,No,1.47,Lung Cancer,Medication,13.0,Yes
15,NaN,Female,No,5.94,Bronchitis,Therapy,9.0,No
16,77.0,Male,Yes,5.75,Asthma,Therapy,11.0,No
17,41.0,Female,NaN,1.39,Pneumonia,Therapy,3.0,Yes
18,68.0,NaN,Yes,5.67,Pneumonia,Medication,7.0,Yes
19,78.0,Female,Yes,2.82,NaN,NaN,13.0,Yes

# Data Wrangling

In [60]:
df

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
0,71.0,Female,No,4.49,COPD,Therapy,14.0,Yes
1,34.0,Female,Yes,NaN,Bronchitis,Surgery,7.0,No
2,80.0,Male,Yes,1.95,COPD,NaN,4.0,Yes
3,40.0,Female,Yes,NaN,Bronchitis,Medication,1.0,No
4,43.0,Male,Yes,4.60,COPD,Surgery,NaN,Yes
...,...,...,...,...,...,...,...,...
5195,40.0,Male,No,1.43,Lung Cancer,Medication,1.0,Yes
5196,21.0,NaN,Yes,1.50,COPD,Medication,4.0,No
5197,42.0,Female,No,5.53,Pneumonia,Surgery,5.0,No
5198,82.0,Male,No,3.68,Bronchitis,Medication,9.0,No
5199,45.0,Female,Yes,3.79,Pneumonia,Medication,10.0,Yes

In [59]:
df.sort_values(['Age', 'Lung Capacity'],
              ascending=[False, True]) # sorting values in ascending order

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
4784,89.0,Male,No,1.02,Pneumonia,Medication,3.0,No
1473,89.0,Female,No,1.19,Lung Cancer,Medication,6.0,NaN
3768,89.0,Female,No,1.32,COPD,Medication,NaN,Yes
2203,89.0,Female,No,1.38,Lung Cancer,Medication,8.0,No
2775,89.0,Female,No,1.41,Lung Cancer,Therapy,12.0,Yes
...,...,...,...,...,...,...,...,...
2143,NaN,Female,No,NaN,COPD,Surgery,8.0,Yes
2519,NaN,Female,Yes,NaN,COPD,Medication,11.0,No
2942,NaN,Male,Yes,NaN,COPD,Medication,14.0,Yes
3514,NaN,Female,Yes,NaN,Asthma,Therapy,10.0,No
4660,NaN,Female,No,NaN,Pneumonia,Medication,3.0,Yes

In [66]:
df.loc[df.duplicated()] # locates all duplicated values

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
5000,83.0,Female,No,3.55,COPD,Medication,6.0,No
5005,23.0,Male,No,5.96,Lung Cancer,Medication,1.0,Yes
5006,66.0,Male,Yes,5.24,Pneumonia,Surgery,14.0,No
5007,35.0,Male,Yes,4.69,Bronchitis,Therapy,6.0,No
5009,31.0,Male,No,5.51,Pneumonia,Therapy,3.0,Yes
...,...,...,...,...,...,...,...,...
5192,31.0,Female,No,1.51,Pneumonia,Surgery,6.0,Yes
5195,40.0,Male,No,1.43,Lung Cancer,Medication,1.0,Yes
5197,42.0,Female,No,5.53,Pneumonia,Surgery,5.0,No
5198,82.0,Male,No,3.68,Bronchitis,Medication,9.0,No
5199,45.0,Female,Yes,3.79,Pneumonia,Medication,10.0,Yes

In [76]:
df = df.transpose()
df = df.T

In [81]:
df['person']= df['Age']

In [87]:
df.drop(index= [0, 1, 2])

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
3,40.0,Female,Yes,NaN,Bronchitis,Medication,1.0,No
4,43.0,Male,Yes,4.60,COPD,Surgery,NaN,Yes
5,22.0,Female,No,3.65,Bronchitis,Medication,11.0,Yes
6,41.0,Male,Yes,2.98,Asthma,Medication,12.0,Yes
7,72.0,Male,NaN,2.61,Lung Cancer,Surgery,11.0,Yes
...,...,...,...,...,...,...,...,...
5195,40.0,Male,No,1.43,Lung Cancer,Medication,1.0,Yes
5196,21.0,NaN,Yes,1.50,COPD,Medication,4.0,No
5197,42.0,Female,No,5.53,Pneumonia,Surgery,5.0,No
5198,82.0,Male,No,3.68,Bronchitis,Medication,9.0,No
5199,45.0,Female,Yes,3.79,Pneumonia,Medication,10.0,Yes

In [89]:
clone = df.copy()

In [90]:
clone

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
0,71.0,Female,No,4.49,COPD,Therapy,14.0,Yes
1,34.0,Female,Yes,NaN,Bronchitis,Surgery,7.0,No
2,80.0,Male,Yes,1.95,COPD,NaN,4.0,Yes
3,40.0,Female,Yes,NaN,Bronchitis,Medication,1.0,No
4,43.0,Male,Yes,4.60,COPD,Surgery,NaN,Yes
...,...,...,...,...,...,...,...,...
5195,40.0,Male,No,1.43,Lung Cancer,Medication,1.0,Yes
5196,21.0,NaN,Yes,1.50,COPD,Medication,4.0,No
5197,42.0,Female,No,5.53,Pneumonia,Surgery,5.0,No
5198,82.0,Male,No,3.68,Bronchitis,Medication,9.0,No
5199,45.0,Female,Yes,3.79,Pneumonia,Medication,10.0,Yes

In [96]:
df2 = clone[['Age', 'Lung Capacity']] + 5
pd.concat([df2, clone])

,Age,Lung Capacity,Gender,Smoking Status,Disease Type,Treatment Type,Hospital Visits,Recovered
0,76.0,9.49,NaN,NaN,NaN,NaN,NaN,NaN
1,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85.0,6.95,NaN,NaN,NaN,NaN,NaN,NaN
3,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,48.0,9.60,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
5195,40.0,1.43,Male,No,Lung Cancer,Medication,1.0,Yes
5196,21.0,1.50,NaN,Yes,COPD,Medication,4.0,No
5197,42.0,5.53,Female,No,Pneumonia,Surgery,5.0,No
5198,82.0,3.68,Male,No,Bronchitis,Medication,9.0,No
5199,45.0,3.79,Female,Yes,Pneumonia,Medication,10.0,Yes

In [113]:
df3 = pd.DataFrame([[7], [8], [9]], 
                  index=['A', 'B', 'C'],
                  columns=['cols3'])

In [119]:
df1

   col1  col2
A     1     4
B     2     5
C     3     6

In [125]:
df1.merge(df3, right_index=True, left_index=True) # inner Join

   col1  col2  cols3
A     1     4      7
B     2     5      8
C     3     6      9

In [133]:
df.isna().sum() # checks all columns in the dataframe with null values

Age                300
Gender             300
Smoking Status     300
Lung Capacity      300
Disease Type       300
Treatment Type     300
Hospital Visits    300
Recovered          300
dtype: int64

In [141]:
df.fillna(df.bfill())

,Age,Gender,Smoking Status,Lung Capacity,Disease Type,Treatment Type,Hospital Visits,Recovered
0,71.0,Female,No,4.49,COPD,Therapy,14.0,Yes
1,34.0,Female,Yes,1.95,Bronchitis,Surgery,7.0,No
2,80.0,Male,Yes,1.95,COPD,Medication,4.0,Yes
3,40.0,Female,Yes,4.60,Bronchitis,Medication,1.0,No
4,43.0,Male,Yes,4.60,COPD,Surgery,11.0,Yes
...,...,...,...,...,...,...,...,...
5195,40.0,Male,No,1.43,Lung Cancer,Medication,1.0,Yes
5196,21.0,Female,Yes,1.50,COPD,Medication,4.0,No
5197,42.0,Female,No,5.53,Pneumonia,Surgery,5.0,No
5198,82.0,Male,No,3.68,Bronchitis,Medication,9.0,No
5199,45.0,Female,Yes,3.79,Pneumonia,Medication,10.0,Yes

In [140]:
df.

Age                0
Gender             0
Smoking Status     0
Lung Capacity      0
Disease Type       0
Treatment Type     0
Hospital Visits    0
Recovered          0
dtype: int64