In [1]:
print('Hello World')

Hello World

# Data Types

In [ ]:
int =1
float =2.1
string = " Hello world"
Boolean = True/False

# Arrays
List = []
Dictionary = {'key':True}
set = ()

# Numerical Operators

In [ ]:
+ addition
- substraction
/ division
** Exponent
% modulas
// floor division
== Equal to
!= Negation
> greater
< less 
>= greater than or equal
<= less than or equal

# Variable

In [7]:
message_1 = 'I am learning python'
message_2 = "an it's amazing"
print(f'{message_1} {message_2}')

I am learning python an it's amazing

In [ ]:
Age = input("Enter Your Age: ")
print(int(Age))

In [16]:
type(Age)

str

# String methods

In [22]:
Name = "pyttttthon"
print(Name.replace('t', 'o'))

pyooooohon

# List

In [104]:
numbers = [9, 2, 3, 4, 3, 10, 2, 1, 7, 8]

In [65]:
numbers.insert(0, 100)

In [72]:
print(dict(numbers))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

# build in functions

y

# Dictionaries

In [97]:
my_data = {'name':'Frank', 'age': 25}
my_data['height'] = 1.7
my_data.update({'height':1.8, 'languages':['English', 'Spaninsh']})
my_data.pop('height')
new_dict = my_data.copy()

# if statements

In [103]:
Age = 18
output = 'Can Vote' if Age < 18 else 'Too Young'
print(output)

Too Young

In [113]:
# Loops
for i, element in enumerate(numbers):
    print(i,element)

0 9
1 2
2 3
3 4
4 3
5 10
6 2
7 1
8 7
9 8

In [129]:
def poly(y):
    result = 3*(y**2)+2
    return result
    
print(f'result:{poly(3)}')

result:29

In [132]:
student = "Philip Oyier"
grades = ["A","B","C","D","D","C"]
gradeDict = {}
gradeDict[student] = grades
print( gradeDict["Philip Oyier"] )

['A', 'B', 'C', 'D', 'D', 'C']