# FAOSTAT Temperature Change
- Data description
  1) The FAOSTAT Temperature Change domain disseminates statistics of mean surface temperature change by country, with annual updates. The      current dissemination covers the period 1961–2023. Statistics are available for monthly, seasonal and annual mean temperature    anomalies, i.e., temperature change with respect to a baseline climatology, corresponding to the period 1951–1980. The standard deviation of the temperature change of the baseline methodology is also available. Data are based on the publicly available GISTEMP data, the Global Surface Temperature Change data distributed by the National Aeronautics and Space Administration Goddard Institute for Space Studies (NASA-GISS).

- Content

 1) Code - Number of countries/areas covered: In 2019: 190 countries and 37 other territorial entities.
 2) Time coverage: 1961-2023
 3) Periodicity: Monthly, Seasonal, Yearly
 4) Base period: 1951-1980
 5) Unit of Measure: Celsius degrees °C
 6) Reference period: Months, Seasons, Meteorological year

- Inspiration

  1) Climate change is one of the important issues that face the world in this technological era. The best proof of this situation is the       historical temperature change. You can investigate if any hope there is for stopping global warming :)

In [1]:
# import packages
import pandas as pd

In [2]:
df = pd.read_csv('FAOSTAT_data_1-10-2022.csv')

In [6]:
# display all the columns
df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1961,1961,?C,0.746,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1962,1962,?C,0.009,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1963,1963,?C,2.695,Fc,Calculated data
3,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1964,1964,?C,-5.277,Fc,Calculated data
4,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1965,1965,?C,1.827,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229920,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2016,2016,?C,1.470,Fc,Calculated data
229921,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2017,2017,?C,0.443,Fc,Calculated data
229922,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2018,2018,?C,0.747,Fc,Calculated data
229923,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2019,2019,?C,1.359,Fc,Calculated data
229924,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2020,2020,?C,0.820,Fc,Calculated data

In [8]:
# making a copy of the data 
dfCopy = df.copy()
dfCopy

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1961,1961,?C,0.746,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1962,1962,?C,0.009,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1963,1963,?C,2.695,Fc,Calculated data
3,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1964,1964,?C,-5.277,Fc,Calculated data
4,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1965,1965,?C,1.827,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229920,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2016,2016,?C,1.470,Fc,Calculated data
229921,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2017,2017,?C,0.443,Fc,Calculated data
229922,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2018,2018,?C,0.747,Fc,Calculated data
229923,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2019,2019,?C,1.359,Fc,Calculated data
229924,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2020,2020,?C,0.820,Fc,Calculated data

In [10]:
# display number of rows and columns
rows, columns = dfCopy.shape
print(f"Rows: {rows}, columns: {columns}")

Rows: 229925, columns: 14

In [11]:
dfCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229925 entries, 0 to 229924
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Domain Code       229925 non-null  object
 1   Domain            229925 non-null  object
 2   Area Code (FAO)   229925 non-null  int64
 3   Area              229925 non-null  object
 4   Element Code      229925 non-null  int64
 5   Element           229925 non-null  object
 6   Months Code       229925 non-null  int64
 7   Months            229925 non-null  object
 8   Year Code         229925 non-null  int64
 9   Year              229925 non-null  int64
 10  Unit              229925 non-null  object
 11  Value             222012 non-null  float64
 12  Flag              229925 non-null  object
 13  Flag Description  229925 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 24.6+ MB

In [12]:
# descriptive
dfCopy.describe()

,Area Code (FAO),Element Code,Months Code,Year Code,Year,Value
count,229925.000000,229925.0,229925.000000,229925.000000,229925.000000,222012.000000
mean,130.647689,7271.0,7009.882353,1991.306248,1991.306248,0.492626
std,76.809008,0.0,6.037955,17.333252,17.333252,1.036364
min,1.000000,7271.0,7001.000000,1961.000000,1961.000000,-9.303000
25%,64.000000,7271.0,7005.000000,1976.000000,1976.000000,-0.071000
50%,131.000000,7271.0,7009.000000,1992.000000,1992.000000,0.414000
75%,194.000000,7271.0,7016.000000,2006.000000,2006.000000,0.999000
max,351.000000,7271.0,7020.000000,2020.000000,2020.000000,11.759000

In [24]:
# dfCopy.loc[dfCopy.duplicated()]
# checking duplicate on each column
dfCopy.loc[~dfCopy.duplicated(subset=['Domain', 'Area', 'Element', 'Months', 'Year', 'Flag Description'])].reset_index(drop=True)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1961,1961,?C,0.746,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1962,1962,?C,0.009,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1963,1963,?C,2.695,Fc,Calculated data
3,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1964,1964,?C,-5.277,Fc,Calculated data
4,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1965,1965,?C,1.827,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229920,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2016,2016,?C,1.470,Fc,Calculated data
229921,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2017,2017,?C,0.443,Fc,Calculated data
229922,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2018,2018,?C,0.747,Fc,Calculated data
229923,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2019,2019,?C,1.359,Fc,Calculated data
229924,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7020,Meteorological year,2020,2020,?C,0.820,Fc,Calculated data

In [45]:
# checking the columns unique values
dfCopy['Months'].unique()
# dfCopy['Months Code'].nunique() # returns the number of unique values on the column

# dfCopy['Area Code (FAO)'].drop_duplicates()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December',
       'Dec?Jan?Feb', 'Mar?Apr?May', 'Jun?Jul?Aug', 'Sep?Oct?Nov',
       'Meteorological year'], dtype=object)

In [53]:
# dfCopy.loc["Dec?Jan?Feb", "Months"]
dfCopy[dfCopy["Months"]== "Dec?Jan?Feb"]

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
720,ET,Temperature change,2,Afghanistan,7271,Temperature change,7016,Dec?Jan?Feb,1961,1961,?C,-0.751,Fc,Calculated data
721,ET,Temperature change,2,Afghanistan,7271,Temperature change,7016,Dec?Jan?Feb,1962,1962,?C,0.985,Fc,Calculated data
722,ET,Temperature change,2,Afghanistan,7271,Temperature change,7016,Dec?Jan?Feb,1963,1963,?C,1.931,Fc,Calculated data
723,ET,Temperature change,2,Afghanistan,7271,Temperature change,7016,Dec?Jan?Feb,1964,1964,?C,-2.056,Fc,Calculated data
724,ET,Temperature change,2,Afghanistan,7271,Temperature change,7016,Dec?Jan?Feb,1965,1965,?C,-0.669,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229680,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7016,Dec?Jan?Feb,2016,2016,?C,2.353,Fc,Calculated data
229681,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7016,Dec?Jan?Feb,2017,2017,?C,0.600,Fc,Calculated data
229682,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7016,Dec?Jan?Feb,2018,2018,?C,0.326,Fc,Calculated data
229683,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7016,Dec?Jan?Feb,2019,2019,?C,0.963,Fc,Calculated data
229684,ET,Temperature change,181,Zimbabwe,7271,Temperature change,7016,Dec?Jan?Feb,2020,2020,?C,1.318,Fc,Calculated data