# FAOSTAT Temperature Change
- Data description
  1) The FAOSTAT Temperature Change domain disseminates statistics of mean surface temperature change by country, with annual updates. The      current dissemination covers the period 1961–2023. Statistics are available for monthly, seasonal and annual mean temperature    anomalies, i.e., temperature change with respect to a baseline climatology, corresponding to the period 1951–1980. The standard deviation of the temperature change of the baseline methodology is also available. Data are based on the publicly available GISTEMP data, the Global Surface Temperature Change data distributed by the National Aeronautics and Space Administration Goddard Institute for Space Studies (NASA-GISS).

- Content

 1) Code - Number of countries/areas covered: In 2019: 190 countries and 37 other territorial entities.
 2) Time coverage: 1961-2023
 3) Periodicity: Monthly, Seasonal, Yearly
 4) Base period: 1951-1980
 5) Unit of Measure: Celsius degrees °C
 6) Reference period: Months, Seasons, Meteorological year

- Inspiration

  1) Climate change is one of the important issues that face the world in this technological era. The best proof of this situation is the       historical temperature change. You can investigate if any hope there is for stopping global warming)

In [6]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
%matplotlib inline
from prophet import Prophet

In [9]:
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='latin-1')
df

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,JunJulAug,6078,Standard Deviation,°C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,SepOctNov,7271,Temperature change,°C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,SepOctNov,6078,Standard Deviation,°C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,°C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,°C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

In [70]:
dfCopy = df.copy()
dfCopy

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,JunJulAug,6078,Standard Deviation,°C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,SepOctNov,7271,Temperature change,°C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,SepOctNov,6078,Standard Deviation,°C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,°C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,°C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

In [20]:
# Checking insight on the data
def Info(df):
    print("-----------------------shape---------------------")
    print(dfCopy.shape)
    print()
    print("------------------------info---------------------")
    print(dfCopy.info())
    print()
    print("-----------------------Describe------------------")
    print(dfCopy.describe())
    print()
    print("-----------------------Null Values ---------------")
    print(dfCopy.isna().sum())
    print()
    print("------------------------columns-------------------")
    print(dfCopy.columns)
Info(dfCopy)

-----------------------shape---------------------
(9656, 66)

------------------------info---------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9656 entries, 0 to 9655
Data columns (total 66 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     9656 non-null   int64
 1   Area          9656 non-null   object
 2   Months Code   9656 non-null   int64
 3   Months        9656 non-null   object
 4   Element Code  9656 non-null   int64
 5   Element       9656 non-null   object
 6   Unit          9656 non-null   object
 7   Y1961         8287 non-null   float64
 8   Y1962         8322 non-null   float64
 9   Y1963         8294 non-null   float64
 10  Y1964         8252 non-null   float64
 11  Y1965         8281 non-null   float64
 12  Y1966         8364 non-null   float64
 13  Y1967         8347 non-null   float64
 14  Y1968         8345 non-null   float64
 15  Y1969         8326 non-null   float64
 16  Y1970         8308 non-null   float64
 17  Y1971         8303 non-null   float64
 18  Y1972         8323 non-null   float64
 19  Y1973         8394 non-null   float64
 20  Y1974         8374 non-null   float64
 21  Y1975         8280 non-null   float64
 22  Y1976         8209 non-null   float64
 23  Y1977         8257 non-null   float64
 24  Y1978         8327 non-null   float64
 25  Y1979         8290 non-null   float64
 26  Y1980         8283 non-null   float64
 27  Y1981         8276 non-null   float64
 28  Y1982         8237 non-null   float64
 29  Y1983         8205 non-null   float64
 30  Y1984         8259 non-null   float64
 31  Y1985         8216 non-null   float64
 32  Y1986         8268 non-null   float64
 33  Y1987         8284 non-null   float64
 34  Y1988         8273 non-null   float64
 35  Y1989         8257 non-null   float64
 36  Y1990         8239 non-null   float64
 37  Y1991         8158 non-null   float64
 38  Y1992         8354 non-null   float64
 39  Y1993         8315 non-null   float64
 40  Y1994         8373 non-null   float64
 41  Y1995         8409 non-null   float64
 42  Y1996         8439 non-null   float64
 43  Y1997         8309 non-null   float64
 44  Y1998         8370 non-null   float64
 45  Y1999         8324 non-null   float64
 46  Y2000         8342 non-null   float64
 47  Y2001         8241 non-null   float64
 48  Y2002         8312 non-null   float64
 49  Y2003         8390 non-null   float64
 50  Y2004         8415 non-null   float64
 51  Y2005         8424 non-null   float64
 52  Y2006         8503 non-null   float64
 53  Y2007         8534 non-null   float64
 54  Y2008         8475 non-null   float64
 55  Y2009         8419 non-null   float64
 56  Y2010         8435 non-null   float64
 57  Y2011         8437 non-null   float64
 58  Y2012         8350 non-null   float64
 59  Y2013         8427 non-null   float64
 60  Y2014         8377 non-null   float64
 61  Y2015         8361 non-null   float64
 62  Y2016         8348 non-null   float64
 63  Y2017         8366 non-null   float64
 64  Y2018         8349 non-null   float64
 65  Y2019         8365 non-null   float64
dtypes: float64(59), int64(3), object(4)
memory usage: 4.9+ MB
None

-----------------------Describe------------------
         Area Code  Months Code  Element Code        Y1961        Y1962  \
count  9656.000000  9656.000000    9656.00000  8287.000000  8322.000000
mean    821.806338  7009.882353    6674.50000     0.402433     0.315527
std    1781.072213     6.038255     596.53089     0.701567     0.713777
min       1.000000  7001.000000    6078.00000    -4.018000    -5.391000
25%      78.000000  7005.000000    6078.00000     0.057000    -0.033000
50%     153.500000  7009.000000    6674.50000     0.366000     0.333000
75%     226.250000  7016.000000    7271.00000     0.676500     0.627000
max    5873.000000  7020.000000    7271.00000     5.771000     4.373000

             Y1963        Y1964        Y1965        Y1966        Y1967  ...  \
count  8294.000000  8252.000000  8281.000000  8364.000000  8347.000000  ...
mean      0.317393     0.269382     0.217839     0.376419     0.263239  ...
std       0.853133     0.749216     0.739418     0.737370     0.725421  ...
min      -8.483000    -7.309000    -4.728000    -8.147000    -6.531000  ...
25%       0.030250    -0.102500    -0.214000     0.055000    -0.169000  ...
50%       0.355000     0.326000     0.303000     0.360000     0.313000  ...
75%       0.647750     0.609000     0.584000     0.660250     0.601000  ...
max       4.666000     5.233000     5.144000     5.771000     4.768000  ...

             Y2010        Y2011        Y2012        Y2013        Y2014  \
count  8435.000000  8437.000000  8350.000000  8427.000000  8377.000000
mean      0.884504     0.768488     0.788930     0.829647     0.913872
std       0.878303     0.750631     0.858586     0.713753     0.815933
min      -6.072000    -4.854000    -5.785000    -3.642000    -5.367000
25%       0.392000     0.365000     0.372250     0.408500     0.418000
50%       0.771000     0.640000     0.651000     0.719000     0.745000
75%       1.276500     1.091000     1.108000     1.126000     1.190000
max       7.190000     6.531000    10.826000     6.738000    11.759000

             Y2015        Y2016        Y2017        Y2018        Y2019
count  8361.000000  8348.000000  8366.000000  8349.000000  8365.000000
mean      1.018816     1.081491     1.003342     1.010832     1.094599
std       0.840189     0.877399     0.809800     0.872199     0.853953
min      -4.068000    -3.306000    -3.584000    -2.216000    -2.644000
25%       0.437000     0.457000     0.443000     0.434000     0.455000
50%       0.858000     0.949000     0.865000     0.810000     0.939000
75%       1.389000     1.496000     1.364750     1.341000     1.508000
max       7.590000    10.478000     7.389000     9.228000     7.215000

[8 rows x 62 columns]

-----------------------Null Values ---------------
Area Code          0
Area               0
Months Code        0
Months             0
Element Code       0
                ...
Y2015           1295
Y2016           1308
Y2017           1290
Y2018           1307
Y2019           1291
Length: 66, dtype: int64

------------------------columns-------------------
Index(['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967',
       'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975',
       'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983',
       'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991',
       'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999',
       'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015',
       'Y2016', 'Y2017', 'Y2018', 'Y2019'],
      dtype='object')

In [71]:
# Dropping Unnecessry columns
dfCopy.drop(columns=['Area Code', 'Months Code', 'Element Code'], axis=1, inplace=True)

In [72]:
# replacing symbols in the dataset
def replace(x):
    return x.str.replace("", "-")
dfCopy['Months'] = replace(dfCopy['Months'])

In [27]:
# create a dict for the Africa countries
dfCopy['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia',
       'French Southern and Antarctic Territories', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Midway Island', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'North Macedonia', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn Islands', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wake Island', 'Wallis and Futuna Islands', 'Western Sahara',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [73]:
dfCopy = dfCopy.loc[dfCopy['Element'] == 'Temperature change']

In [74]:
# groupby the numerical values only
dfCopy = dfCopy.groupby('Area').mean(numeric_only=True)

In [75]:
dfCopy  = dfCopy.loc[:,'Y1961':]

In [76]:
dfCopy = pd.DataFrame(dfCopy.mean()).reset_index(drop=False)
dfCopy.columns = ['Year', 'Mean']

In [77]:
dfCopy

     Year      Mean
0   Y1961  0.143032
1   Y1962 -0.028398
2   Y1963 -0.026297
3   Y1964 -0.122865
4   Y1965 -0.224154
5   Y1966  0.095070
6   Y1967 -0.131975
7   Y1968 -0.167841
8   Y1969  0.105694
9   Y1970  0.072189
10  Y1971 -0.177649
11  Y1972 -0.049936
12  Y1973  0.199149
13  Y1974 -0.128841
14  Y1975 -0.030398
15  Y1976 -0.210907
16  Y1977  0.185724
17  Y1978  0.053986
18  Y1979  0.230299
19  Y1980  0.224411
20  Y1981  0.222159
21  Y1982  0.160740
22  Y1983  0.348746
23  Y1984  0.076055
24  Y1985  0.069280
25  Y1986  0.139045
26  Y1987  0.415012
27  Y1988  0.435257
28  Y1989  0.283534
29  Y1990  0.579354
30  Y1991  0.335127
31  Y1992  0.254460
32  Y1993  0.243441
33  Y1994  0.559852
34  Y1995  0.603439
35  Y1996  0.317843
36  Y1997  0.578825
37  Y1998  0.951884
38  Y1999  0.732435
39  Y2000  0.689658
40  Y2001  0.806679
41  Y2002  0.917838
42  Y2003  0.862185
43  Y2004  0.787869
44  Y2005  0.886901
45  Y2006  0.910877
46  Y2007  1.004826
47  Y2008  0.813313
48  Y2009  0.943937
49  Y2010  1.080097
50  Y2011  0.863045
51  Y2012  0.901637
52  Y2013  0.977131
53  Y2014  1.131417
54  Y2015  1.326462
55  Y2016  1.440185
56  Y2017  1.299112
57  Y2018  1.310459
58  Y2019  1.464899

In [79]:
# removing the y in Year
dfCopy['Year'] = dfCopy['Year'].apply(lambda x: x[1:]).astype(int)

In [80]:
dfCopy

    Year      Mean
0   1961  0.143032
1   1962 -0.028398
2   1963 -0.026297
3   1964 -0.122865
4   1965 -0.224154
5   1966  0.095070
6   1967 -0.131975
7   1968 -0.167841
8   1969  0.105694
9   1970  0.072189
10  1971 -0.177649
11  1972 -0.049936
12  1973  0.199149
13  1974 -0.128841
14  1975 -0.030398
15  1976 -0.210907
16  1977  0.185724
17  1978  0.053986
18  1979  0.230299
19  1980  0.224411
20  1981  0.222159
21  1982  0.160740
22  1983  0.348746
23  1984  0.076055
24  1985  0.069280
25  1986  0.139045
26  1987  0.415012
27  1988  0.435257
28  1989  0.283534
29  1990  0.579354
30  1991  0.335127
31  1992  0.254460
32  1993  0.243441
33  1994  0.559852
34  1995  0.603439
35  1996  0.317843
36  1997  0.578825
37  1998  0.951884
38  1999  0.732435
39  2000  0.689658
40  2001  0.806679
41  2002  0.917838
42  2003  0.862185
43  2004  0.787869
44  2005  0.886901
45  2006  0.910877
46  2007  1.004826
47  2008  0.813313
48  2009  0.943937
49  2010  1.080097
50  2011  0.863045
51  2012  0.901637
52  2013  0.977131
53  2014  1.131417
54  2015  1.326462
55  2016  1.440185
56  2017  1.299112
57  2018  1.310459
58  2019  1.464899